extends ./layouts/_layout.jade

block vars
  - var bodyTemplate = "results"
  - var directions = [['north','north<br>shore'], ['west','west<br>side'], ['east','east<br>side'], ['south','south<br>shore']]

block addToHead

block content

  //- section.waves
  //-   canvas.waves__canvas

  header.branding
    .branding__logo-container
      include ../src/images/svg/logo-surfstatus.svg

  section.wave-report
    .directions
      each direction in directions
        - var thisDirection = direction[0];
        - var surfObject = recentSurf[thisDirection]
        //- - var tideObject = recentTide[thisDirection]
        .directions__direction(data-shore=thisDirection data-height-mean=surfObject.mean)
          h1.directions__direction__title
            != direction[1]
            span.direction__height
          .directions__direction__container
            .surfbreak
              h3.surfbreak__height
                = surfObject.min
                span -
                = surfObject.max
                span &rsquo;
            .tide
              - var tidesTimes = []
              - var tidesLabels = []
              - var tidesGraph = []
              - tidesTimes.push(recentTide[thisDirection].nowMinus1[0], recentTide[thisDirection].now[0], recentTide[thisDirection].nowPlus1[0], recentTide[thisDirection].nowPlus2[0], recentTide[thisDirection].nowPlus3[0], recentTide[thisDirection].nowPlus4[0])
              - tidesLabels.push(recentTide[thisDirection].nowMinus1[1], recentTide[thisDirection].now[1], recentTide[thisDirection].nowPlus1[1], recentTide[thisDirection].nowPlus2[1], recentTide[thisDirection].nowPlus3[1], recentTide[thisDirection].nowPlus4[1])
              - tidesGraph.push(recentTide[thisDirection].nowMinus1[2], recentTide[thisDirection].now[2], recentTide[thisDirection].nowPlus1[2], recentTide[thisDirection].nowPlus2[2], recentTide[thisDirection].nowPlus3[2], recentTide[thisDirection].nowPlus4[2])
              svg.tide__graph(data-shore=thisDirection data-tides=tidesGraph data-times=tidesTimes data-time-labels=tidesLabels)
          .toggle-mobile
            include ../src/images/svg/icon-toggle.svg
  section.island-report
    .island-report__container
      .weather
        h2 CURRENT<br>WEATHER
        span #{recentWeather.temperature}&deg;
        h4 #{recentWeather.description}
      .sunrise-sunset
        h2 SUNRISE<span>&amp;</span>SUNSET
        .sunrise-sunset__container
          include ../src/images/svg/mokes.svg
          h4.sunrise-label= recentWeather.sunrise
          h4.sunset-label= recentWeather.sunset
      .wind(data-wind-direction=recentWeather.windDir)
        h2 CURRENT<br>WIND
        include ../src/images/svg/wind-compass.svg
        h4 #{recentWeather.windSpeed}MPH from #{recentWeather.windDirComp}


block footerScripts
  //- script(src="../js/vendor/wave-canvas.js")
  script(src="../js/vendor/d3.js")
  script.
    var windCompass          = document.querySelector( '.wind-compass' );
    var windDirectionDegs    = #{recentWeather.windDir};
    windCompass.setAttribute('style','transform: rotate(' + windDirectionDegs + 'deg);')