extends ./layouts/_layout.jade

block vars
  - var bodyTemplate = "results"
  - var directions = ['north', 'west', 'east', 'south']

block addToHead

block content

  section.waves
    canvas.waves__canvas

  header.branding
    .branding__logo
      include ../src/images/svg/logo-surfornah.svg

  section.wave-report
    .directions
      - for (var i = 0; i < directions.length; i++)
        .directions__direction(data-shore=directions[i] data-height-mean=surfHeightRanges[i].mean)
          h1.directions__direction__title
            = directions[i]
            span.direction__height
          .directions__direction__container
            .Wallop(class="Wallop-0#{i+1}")
              .Wallop-list
                .surfbreak.Wallop-item.Wallop-item--current
                  h3.surfbreak__height
                    = surfHeightRanges[i].min
                    | -
                    = surfHeightRanges[i].max
                    | &rsquo;
    .sunrise-sunset(data-weather-sunset=weather.sunset data-weather-sunrise=weather.sunrise)
      include ../src/images/svg/mokes.svg

block footerScripts
  script(src="../js/vendor/wave-canvas.js")
  script(src="../js/vendor/Wallop.js")
  script.
    //- console.log(weather.sunset);
    var sunTracker          = document.querySelector( '.mokes' );
    var sunTrackerContainer = document.querySelector( '.sunrise-sunset' );
    var sunriseTime         = sunTracker.querySelector( '[data-time-for="sunrise"]' );
    var sunsetTime          = sunTracker.querySelector( '[data-time-for="sunset"]' );
    sunsetTime.innerHTML = sunTrackerContainer.getAttribute('data-weather-sunset');
    sunriseTime.innerHTML = sunTrackerContainer.getAttribute('data-weather-sunrise');