mixin surfbreakMixin(title, min, max, mean, direction)
  .surfbreak.Wallop-item(data-height-mean=mean)
    h3= title
    p surf height is <span class="surf-height">#{min} - #{max}</span>
    p swell is coming from <span class="swell-direction">#{direction}</span>
